{% block body %}
    <button class="closeUserForm-btn btn-close float-end"></button>
    <h1>{{ title }}</h1>

    {{ form(user_form) }}

{% endblock %}
<script>
    // uses only for problem with edit submit date
    if ("{{ title }}" == "Edycja użytkownika")
    {
        $(() => {
            $(document).on("submit", "form", function (event) {
                $.ajax({
                    url: "..{{ app.request.pathinfo }}",
                    method: "POST",
                    dataType: "JSON",
                    data: new FormData(this),
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        $("form[name='user']").parent().html(data.content);
                    },
                    error: function (data) {
                        $("form[name='user']").parent().html(data);
                    }
                });
                event.preventDefault();
                return false;
            });
        });
    }
</script>