{% block body %}
    <button class="closeUserForm-btn btn-close float-end"></button>
    <h1>{{ title }}</h1>

    {{ form(user_form) }}

{% endblock %}
<script>
    // uses only for problem with edit submit date
    if ("{{ title }}" == "Edycja użytkownika")
    {
        $(() => {
            $("form[name='user']").on('submit', (e) => {
                const formSerialize = $('form[name="user"]').serialize();
                $.post("..{{ app.request.pathinfo }}", formSerialize, function (data, statusText, xhr) {
                    $("form[name='user']").parent().html(data.content);
                }).fail(function (data) {
                    $("form[name='user']").parent().html(data);
                });
                e.preventDefault();
                return false;
            });
        });
    }
</script>