{% block body %}

    <h1>{{ title }}</h1>

    {{ form(user_form) }}

{% endblock %}
<script>
    $(() => {
        $("form[name='user']").on('submit', (e) => {
            const formSerialize = $('form[name="user"]').serialize();
            $.post("..{{ app.request.pathinfo }}", formSerialize, function (data, statusText, xhr) {
                $("dialog[id='addUserForm']").html(data.content);
            }).fail(function (data) {
                $("dialog[id='addUserForm']").html(data);
            });
            e.preventDefault();
            return false;
        });
    });
</script>